<?xml version="1.0" encoding="UTF-8"?>
<server>
  <featureManager>
	  <feature>servlet-4.0</feature>
	  <feature>sessionCache-1.0</feature>
      <feature>ejb-3.2</feature>
  </featureManager>
  
  <logging consoleLogLevel="INFO"> </logging>

  <httpEndpoint host="*"
                id="defaultHttpEndpoint"
                httpPort="9080"
                httpsPort="9443" />

  <httpSessionCache libraryRef="InfinispanLib">
  	<properties infinispan.client.hotrod.client_intelligence="BASIC"/>
    <properties infinispan.client.hotrod.server_list="${env.INFINISPAN_HOST}:11222"/>
    <properties infinispan.client.hotrod.auth_username="${env.INFINISPAN_USER}"/>
    <properties infinispan.client.hotrod.auth_password="${env.INFINISPAN_PASSWORD}"/>
	<properties infinispan.client.hotrod.sasl_mechanism="DIGEST-MD5"/>
    <properties infinispan.client.hotrod.auth_realm="default"/> 
    <properties infinispan.client.hotrod.java_serial_whitelist=".*"/>
    <properties infinispan.client.hotrod.marshaller="org.infinispan.commons.marshall.JavaSerializationMarshaller"/>
  </httpSessionCache>

  <library id="InfinispanLib">
      <fileset dir="${shared.resource.dir}/infinispan" includes="*.jar"/>
  </library>
</server>
